@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/*Telas pequenas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --cor1: #54426C;
    --cor2: #846F98;
    --cor3: #857099;
    --cor4: #9A85B0;
    --cor5: #C4B3D7;
}

header {
    display: flex;
    background-color: var(--cor1);
    color: white;
    padding: 20px 15px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

header h1, header form, header span {
    display: inline-block;
}

header > span {
    cursor: pointer;
    margin-right: 20px;
}

h1 {
    font-size: 1.1em;
    font-family: 'Pangolin';
}

header input {
    width: 35vw;
    outline: none;
    max-width: 500px;
}

header input::placeholder {
    text-align: right;
}

nav {
    position: absolute;
    display: none;
    right: 0px;
    top: 64px;
    background-color: var(--cor2);
    padding: 0px 5px;
}

nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
    width: 90px;
    transition: color 0.3s ease-in;
    font-size: 0.9em;
}

nav > a:hover {
    color: var(--cor5);
}
/*FIM DO HEADER*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 530px;
    padding-top: 10px;
    margin-top: 20px;
}

section#carrinho {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 320px;
    min-width: 250px;
    margin: 0px auto 10px auto;
    border: 2px solid var(--cor5);
    border-radius: 5px;
    padding-left: 5px;
    transform: translate(-50%, -50%);
}

#imagemCarrinho {
    max-width: 320px;
    min-width: 250px;
    height: 110px;
    background: var(--cor5) url('../images/violeta/violeta1.jpg') center center no-repeat fixed;
    background-size: cover;
    margin-bottom: 10px;
    margin-left: -5px;
}

section#carrinho > p {
    display: inline-block;
    
    font-family: 'Tilt neon'
}

select {
    font-family: 'Tilt neon';
    outline: none;
    border: 1px solid var(--cor3);
    border-radius: 3px;
    margin: 0px 0 10px 0;
}

.definir-quantidade {
    display: inline-block;
    margin-top: 0px;
}

button.definir-quantidade {
    cursor: pointer;
    background-color: var(--cor4);
    color: white;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
}

#valor {
    margin: 8px 0 8px 0;
}

#pagamento:checked {
    display: none;
}

label::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--cor3);
    margin-right: 5px;
    border: 3.5px solid var(--cor5);
}

a#finalizarCompra {
    display: block;
    margin-top: 10px;
    margin-left: -5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
}

a#finalizarCompra:active {
    background-color: var(--cor5);
    color: var(--cor1);
    box-shadow: inset 1px 1px 10px var(--cor3);
}


