@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/*Telas pequenas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --cor1: #54426C;
    --cor2: #846F98;
    --cor3: #857099;
    --cor4: #9A85B0;
    --cor5: #C4B3D7;
}

header {
    display: flex;
    background-color: var(--cor1);
    color: white;
    padding: 20px 15px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

header h1, header form, header span {
    display: inline-block;
}

header > span {
    cursor: pointer;
    margin-right: 20px;
}

h1 {
    font-size: 1.1em;
    font-family: 'Pangolin';
}

header input {
    width: 35vw;
    outline: none;
    max-width: 500px;
}

header input::placeholder {
    text-align: right;
}

nav {
    position: absolute;
    display: none;
    right: 0px;
    top: 64px;
    background-color: var(--cor2);
    padding: 0px 5px;
}

nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
    transition: color 0.3s ease-in;
}

nav > a:hover {
    color: var(--cor5);
}
/*FIM DO HEADER*/

main {
    padding-top: 10px;
}

section#informacoes {
    max-width: 320px;
    min-width: 250px;
    margin: 0 auto 10px auto;
    border: 2px solid var(--cor5);
    border-radius: 5px;
    padding-top: 5px;
}

main label {
    display: block;
}

input#nome {
    text-transform: uppercase;
}

div#cartao {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "vazio1 vazio1 vazio1 vazio1 vazio1"
    "vazio2 vazio2 vazio2 vazio2 bandeira"
    "chip nfc vazio3 vazio3 vazio3"
    "numero numero numero numero numero"
    "nome nome nome nome data";
    gap: 10px;
    padding: 0 20px 10px 20px;
}

img#visa, img#mastercard {
    grid-area: bandeira;
    width: 40px;
    visibility: hidden;
    margin-top: -10px;
}

span#bandeiraDesconhecida {
    grid-area: bandeira;
    font-size: 0.7em;
    margin-top: -10px;
}

img#chip {
    grid-area: chip;
    width: 40px;
}
img#nfc {
    grid-area: chip;
    margin-left: 55px;
    width: 20px;
    margin-top: 10px;
}

#numeroCartao {grid-area: numero;}
#nomeCartao {
    grid-area: nome;
    text-transform: uppercase;
    font-size: 0.7em;
}
#dataCartao {
    grid-area: data;
    font-size: 0.65em;
}