@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/*Telas pequenas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --cor1: #54426C;
    --cor2: #846F98;
    --cor3: #857099;
    --cor4: #9A85B0;
    --cor5: #C4B3D7;
}

header {
    display: flex;
    background-color: var(--cor1);
    color: white;
    padding: 20px 15px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

header h1, header form, header span {
    display: inline-block;
}

header > span {
    cursor: pointer;
    margin-right: 20px;
}

h1 {
    font-size: 1.1em;
    font-family: 'Pangolin';
}

input {
    width: 35vw;
    outline: none;
    max-width: 500px;
}

input::placeholder {
    text-align: right;
}

nav {
    position: absolute;
    display: none;
    right: 0px;
    top: 64px;
    background-color: var(--cor2);
    padding: 0px 5px;
}

nav > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
    transition: color 0.3s ease-in;
}

nav > a:hover {
    color: var(--cor5);
}
/*FIM DO HEADER*/


main {
    padding-top: 10px;
}

/*PARTE 1*/
/*Parte de Imagens*/
section#part1, section#part2, section#part3 {
    max-width: 320px;
    min-width: 250px;
    margin: 0 auto 10px auto;
    border: 2px solid var(--cor5);
    border-radius: 5px;
    padding-top: 5px;
}

section#part1 > h1 {
    font: normal 1.9em 'Amatic SC';
    text-align: center;
}

div#exibir { /*Exibe a foto selecionada*/
    min-width: 240px;
    max-width: 300px;
    height: 300px;
    background: lightgray url('../images/violeta/violeta1.jpg') center center no-repeat scroll;
    background-size: cover;
    margin: auto;
}

aside#fotos { /*Engloba as imagens para escolha*/
    display: block;
    margin: 20px auto 10px auto;
    max-width: 300px;
    min-width: 250px;
}

aside#fotos:hover :not(:hover) {
    opacity: 0.8;
}

#fotos > img { /*Imagens que podem ser selecionadas*/
    display: inline-block;
    max-width: calc(25% - 7.1px);
    min-width: 18%;
    cursor: pointer;
    margin-left: 5px;
}

img#img01 {
    margin-left: 0px;
    transform: scale(1.1);
}

/*Parte de icones*/
aside#icons {
    width: 280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 0px 10px 0px 5px;
}

aside#icons > p {
    display: block;
}

aside#icons > abbr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 50%;
}

aside#icons > abbr > img {
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

/*Parte dos tamanhos*/
aside#tamanhos {
    padding: 0 10px;
    margin: 10px 0 10px 0;
}

aside#tamanhos > span {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid var(--cor5);
    background-color: #dddddd;
    padding: 6px 15.8px;
    font-size: 0.7em;
    border-radius: 20px;
    cursor: pointer;
}

aside#icons > p, aside#tamanhos > p {
    font-family: 'Tilt neon';
}

/*Parte do preço*/
aside#valor {
    margin: 5px 10px 5px 10px;
}

.valor-antigo {
    font-size: 0.8em;
    color: #777777;
}

.valor-atual, .desconto {
    display: inline-block;
}

.valor-atual {
    font-size: 2em;
    color: var(--cor1);
    margin-bottom: 5px;
}

.desconto {
    background-color: red;
    color: white;
    height: 17px;
    padding: 2px;
    font-size: 1.1em;
}

div.rating > a {
    text-decoration: none;
    font-size: 0.8em;
}

div.rating > span {
    font-size: 0.7em;
}

.definir-quantidade {
    display: inline-block;
    margin-top: 0px;
}

button.definir-quantidade {
    cursor: pointer;
    background-color: var(--cor4);
    color: white;
    width: 20px;
    height: 20px;
    border: none;
}

a#comprar {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
}

a#comprar:active {
    background-color: var(--cor5);
    color: var(--cor1);
    box-shadow: inset 1px 1px 10px var(--cor3);
}

aside#buy {
    margin: 10px 10px;
}

/*PARTE 2*/

section#part2 > h2 {
    font: bold 1.9em 'Amatic SC';
    margin: 10px 0 0 10px;
    display: inline-block;
}

section#part2 > div > p {
    width: 80%;
    padding: 10px;
    display: inline-block;
    font: normal 1em 'Tilt neon', verdana;
    text-align: justify;
}

section#part2 > div > p > span {
    display: block;
    margin: 10px 0;
    line-height: 2;
}

section#part2 > div > picture {
    position: absolute;
    top: 1175px;
    margin-left: -87px;
    width: 150px;
    height: 180px;
    overflow: hidden;
}

section#part2 > div > picture > img {
    width: 180px;
}

/*PARTE 3*/
section#part3 > div#avaliacao {
    position: relative;
}

section#part3 > div#avaliacao > h2 {
    font: bold 1.9em 'Amatic SC';
    margin: 10px 0 0 10px;
}

section#part3 > div#avaliacao > p#numero-avaliacao {
    font: normal 4em 'Amatic SC';
    text-align: center;
    margin-bottom: 15px;
}

section#part3 > div#avaliacao > span.star {
    display: block;
    text-align: center;
    font-size: 1.8em;
    margin-top: -20px;
    margin-left: -8px;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.308);
}

section#part3 > div#avaliacao > p#palavra-avaliacao {
    display: block;
    text-align: center;
    font: bold 2em 'Tilt neon';
    color: #FCD53F;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    border-bottom: 1px dashed var(--cor2);
}

section#part3 > div#comentarios {
    margin: 10px;
}

section#part3 > div#comentarios > aside.comentario-individual {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #c4b3d78f;
    border-radius: 10px;
}

section#part3 > div#comentarios > aside.comentario-individual > img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section#part3 > div#comentarios > aside.comentario-individual > p.nome {
    margin-top: 5px;
    margin-left: 10px;
}

section#part3 > div#comentarios > a {
    display: block;
    text-align: right;
    font-size: 0.8em;
}